= form_for :tteam, url: tteams_path do |f|
  = f.label :p1, "First Summoner's Name"
  %br/
  = f.text_field :p1
  %br/
  %br/

  = f.label :p2, "Second Summoner's Name"
  %br/
  = f.text_field :p2
  %br/
  %br/

  = f.label :p3, "Third Summoner's Name"
  %br/
  = f.text_field :p3
  %br/
  %br/

  = f.label :p4, "Fourth Summoner's Name"
  %br/
  = f.text_field :p4
  %br/
  %br/

  = f.label :p5, "Fifth Summoner's Name"
  %br/
  = f.text_field :p5
  %br/
  %br/

  


  = f.label :c1, "Summoner One's Champion"
  %br/
  = f.text_field :c1
  %br/
  %br/

  = f.label :c2, "Summoner Two's Champion"
  %br/
  = f.text_field :c2
  %br/
  %br/

  = f.label :c3, "Summoner Three's Champion"
  %br/
  = f.text_field :c3
  %br/
  %br/

  = f.label :c4, "Summoner Four's Champion"
  %br/
  = f.text_field :c4
  %br/
  %br/

  = f.label :c5, "Summoner Five's Champion"
  %br/
  = f.text_field :c5
  %br/
  %br/




  = f.submit
