Your Team's Probability
%p
  With
  %b= @tteam.p1
  playing with
  = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@tteam.c1}.png"

  %b= @tteam.c1




%p

  %b= @tteam.p2
  playing with
  = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@tteam.c2}.png"
  %b= @tteam.c2


  %p

    %b= @tteam.p3
    playing with
    = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@tteam.c3}.png"
    %b= @tteam.c3



  %p

    %b= @tteam.p4
    playing with
    = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@tteam.c4}.png"
    %b= @tteam.c4


  %p
    and
    %b= @tteam.p5
    playing with
    = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@tteam.c5}.png"
    %b= @tteam.c5
  

    %p
      Your team's overall probability of winning is...
      = (Tteam.determine_champion_probability(@tteam.p1, @tteam.c1) +  Tteam.determine_champion_probability(@tteam.p2, @tteam.c2) + Tteam.determine_champion_probability(@tteam.p3, @tteam.c3)+ Tteam.determine_champion_probability(@tteam.p4, @tteam.c4) + Tteam.determine_champion_probability(@tteam.p5, @tteam.c5))/5
      &#37
