Your Team's Probability
%p
  In any given ranked game, the probability of
  %b= @tteam.p1
  winning with
  = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@player.c1}.png"

  %b= @tteam.c1
  is
  = Tteam.determine_champion_probability(@tteam.p1, @tteam.c1)
  &#37


%p
  In any given ranked game, the probability of
  %b= @tteam.p2
  winning with
  = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@player.c2}.png"
  %b= @tteam.c2
  is
  = Tteam.determine_champion_probability(@tteam.p2, @tteam.c2)
  &#37

  %p
    In any given ranked game, the probability of
    %b= @tteam.p3
    winning with
    = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@player.c3}.png"
    %b= @tteam.c3
    is
    = Tteam.determine_champion_probability(@tteam.p3, @tteam.c3)
    &#37


  %p
    In any given ranked game, the probability of
    %b= @tteam.p4
    winning with
    = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@player.c4}.png"
    %b= @tteam.c4
    is
    = Tteam.determine_champion_probability(@tteam.p4, @tteam.c4)
    &#37

  %p
    In any given ranked game, the probability of
    %b= @tteam.p5
    winning with
    = image_tag "http://ddragon.leagueoflegends.com/cdn/5.13.1/img/champion/#{@player.c5}.png"
    %b= @tteam.c5
    is
    = Tteam.determine_champion_probability(@tteam.p5, @tteam.c5)
    &#37

    %p
      Your team's overall probability of winning is...
      = Tteam.team_probability
      &#37
